//colors

	//main backgroound color
	$bg--color: #f6ecd9;

	//black text color
	$text--color: #333333;

	//grey text color
	$text--color-2: #949494;

	//selected color
	$selected--color: #a61b00;


	//transition
$transition: 0.1s ease-in-out;